main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: bisque;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 36pt;
}

p {
    font-size: 24pt;
}

a {
    font-size: 24pt;
}

#startButtion {
    width: 50%;
    height: 40px;
    background-color: darkolivegreen;
    border: 25px black;
    border-radius: 15px;
}

#startButtion:hover {
    background-color: olive;
}

#currentInput {
    width: fit-content;
    height: auto;
    margin: auto 10px;
}

#decoded {
    
    color: wheat;
    width: 50%;
}

button {
    background-color: gold;
    width: 75px;
    height: 75px;
    border: 25px black;
    border-radius: 15px;
}

button:hover {
    background-color: goldenrod;
}

#cizerOutPut {
    width: fit-content;
    height: auto;
    margin: auto 10px;
}

#submitStr {
    background-color: gold;
    width: max-content;
    height: 75px;
    border: 25px black;
    border-radius: 15px;
}

.number-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: max-content;
    height: max-content;
}

.simon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: max-content;
    height: max-content;
    justify-self: center;
    align-self: center;
}

.simonButtion {
    width: 100px;
    height: 100px;
}

.connect-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 0px 0px;
    width: max-content;
    justify-self: center;
    align-self: center;
}

.connect-tile {
    width: 30px;
    height: 30px;
    background-color: gray;
    margin: 2px 2px;
}

.connect-grid-buttion {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0px 0px;
    width: max-content;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    align-content: space-around;
}

.connect-tile-buttion {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 0);
    margin: 2px 2px;
    
}

.connect-tile-buttion:hover {
    background-color: red;
}

.rainbow-text {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Set a larger background size to allow movement */
    background-size: 400% 100%;
    /* Apply the animation */
    animation: move-gradient 10s linear infinite;
    /* Optional: Add basic styling for visibility */
    font-weight: bold;
}

@keyframes move-gradient {
    to { background-position: 200% center; }
}

header {
    background-color: black; /* Yellow */
    padding: 0 4px;
    border-radius: 2px;
}